.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
}

.logo h2 {
    color: #fff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links.open {
    flex-direction: column;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #333;
    border-radius: 5px;
}

.wallet {
    position: relative;
}

.wallet-btn {
    background-color: #5a67d8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wallet-btn:hover {
    background-color: #434190;
}

.wallet-address {
    color: #fff;
    background-color: #5a67d8;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.modal h3 {
    margin-bottom: 20px;
    color: #333;
}

.wallet-option-btn {
    background-color: #5a67d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.wallet-option-btn:hover {
    background-color: #434190;
}

.close-btn {
    background-color: #ff4f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.close-btn:hover {
    background-color: #d94141;
}
